<div class="container">
    <div class="title">
        <img src="/assets/book.png">
        <h1>Study Guide</h1>
        <img src="/assets/book.png">
    
    <h3>Better study guides, better test results</h3>
    </div>
    <div class="menu-container">
        <a href="/studyguide/new"><div class="menu-box">Create New Study Guide</div></a>
        <a href="/studyguide"><div class="menu-box">Home</div></a>
        <a href="/studyguide/about"><div class="menu-box">About</div></a>
    </div>
