<div class="container">
    <div class="title">
        <img src="/assets/book.png">
        <h1>Study Guide</h1>
        <img src="/assets/book.png">
    
    <h3>Better study guides, better test results</h3>
    </div>
    <div class="menu-container">
        <div class="menu-box"><a href="/studyguide/new">Create New Study Guide</a></div>
        <div class="menu-box"><a href="/studyguide">Home</a></div>
        <div class="menu-box"><a href="/studyguide/about">About</a></div>
    </div>
