<div class="container">
    <h1>Study Guide</h1>
    <h3>Better study guides, better test results</h3>
    <div class="menu-container">
        <div class="menu-box">| Creat New Study Guide |</div>
        <div class="menu-box">| Home |</div>
        <div class="menu-box">| About |</div>
    </div>
