<aside>
    <div class="login">
        <h2>
            <% if(typeof currentUser != 'undefined') { %>
                Welcome <%=currentUser.username%>!
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout"/>
                </form>
            <% } else { %>
                Hello guest, please sign in:
                <form action="/sessions/new" method="Get">
                    <input type="submit" value="Sign In"/>
                </form>
                <form action="/users/new" method="Get">
                    <input type="submit" value="Create Account"/>
                </form>
            <% } %>
        </h2>
    </div>
<% if(typeof currentUser != 'undefined') { %>
    <div class="nav-header">Your Study Guides</div>

    <% for (i=0; i < guides.length; i++){ %>
        <div class="nav-items"><a href="/studyguide/<%=guides[i].id%>"><%= guides[i].guide_name %></a></div>
    <% } %>
<% } %>
</aside>