<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head.ejs") %>
    <title>Document</title>
    
</head>
<body>
    <%- include("../partials/nav.ejs") %>
    <%- include("../partials/header.ejs") %>
    <div class="quiz-container">
        <div class="title-title">Study Guide Name:</div>
            <div class="title-input">
                <form action="/studyguide" method="POST">
                    <div><input type="text" name="guide_name"></div>
                    <input type="submit" name="" value="Create Study Guide"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>