aside{
    float: left;
    background: rgb(188, 223, 188);
    width: 20%;
    min-width: 200px;
    height: 100vh;
    min-height: 200px
}

.not-found{
    color: red;
    font-size: 12px;
}

.title{
    width: 60%;
    min-width: 250px;
    text-align: center;
    margin: 0 20%;
}

.title h1{
    margin: 8px 15px;
    display: inline-block;
}

.title img{
    display: inline-block;
    width: 40px;
}

.title h3{
    font-size: 1.8em;
}

h2{
    width: 100%;
    margin: 10px;
}

h3{
  margin: 5px 10px;
}

.authentication {
    margin: 10px;
}
.container{
    width: 60%;
    min-width: 500px;
    float: left;
}

.menu-container{
    height: 40px;
    width: 100%;
    min-width: 560px;
    border: 2px solid black;
    border-radius: 5px;
    background: rgb(224, 218, 218);
    margin: 10px 10px;
}

.menu-box{
    display: block;
    float: left;
    font-size: 1.2em;
    width: 33%;
    text-align: center;
    height: 100%;
}

.menu-box:hover{
    background: tan;
    font-weight: bold;
}

.login{
    text-align: center;
}

.login input{
    width: 200px;
}

.nav-header{
    margin: 40px 0 0 8%;
    font-size: 1.5em;
}

.nav-items{
    margin: 2px 0 0 8%;
}

.quiz-container{
    margin: 3% 5%;
}

.quiz-container h2{
    margin: 10px 0;
}

.quiz-container div{
    margin: 15px 0;
}
form{
    margin: 0;
    padding: 0;
}

.large-input{
    width: 500px;
}

.about-container {
    margin: 15px 0 0 20px;
}

.about-container h3, .about-container h2{
    margin: 0;
}
.about-planning img{
    width: 70%;
}

.about-container li{
    margin: 0 0 0 25px;
}

.about-container p{
    margin: 5px 0;
}